# Static entries for services not (yet) discoverable via docker labels on the
# docker_vm (e.g. they still run on the NAS and are reverse-proxied through).
# Containers on the docker_vm advertise themselves through homepage.* labels.
- Entertainment:
    - Plex:
        href: https://plex.[[ host.data.domain ]]
        icon: plex
        siteMonitor: https://plex.[[ host.data.domain ]]
        widget:
          type: plex
          url: https://plex.[[ host.data.domain ]]
          key: [[ plex_api_token ]]
        weight: 100
    - Sonarr:
        href: https://tv.[[ host.data.domain ]]
        icon: sonarr
        siteMonitor: https://tv.[[ host.data.domain ]]
        widget:
          type: sonarr
          url: https://tv.[[ host.data.domain ]]
          key: [[ sonarr_api_token ]]
        weight: 200
    - Radarr:
        href: https://movies.[[ host.data.domain ]]
        icon: radarr
        siteMonitor: https://movies.[[ host.data.domain ]]
        widget:
          type: radarr
          url: https://movies.[[ host.data.domain ]]
          key: [[ radarr_api_token ]]
        weight: 300
    - Prowlarr:
        href: https://indexers.[[ host.data.domain ]]
        icon: prowlarr
        widget:
          type: prowlarr
          url: https://indexers.[[ host.data.domain ]]
          key: [[ prowlarr_api_token ]]
        weight: 400
- Office:
    - Synology Drive:
        href: https://drive.[[ host.data.domain ]]
        icon: synology-drive
        weight: 100
- Media:
    - Synology Photos:
        href: https://photos.[[ host.data.domain ]]
        icon: synology-photos
        weight: 100
- Admin:
    - Synology Diskstation:
        href: https://nas.[[ host.data.domain ]]
        icon: synology-dsm
        weight: 100
