# Static entries for services not (yet) discoverable via docker labels on the
# docker_vm (e.g. they still run on the NAS and are reverse-proxied through).
# Containers on the docker_vm advertise themselves through homepage.* labels.
- Entertainment:
    - Plex:
        href: https://plex.[[ host.data.domain ]]
        icon: plex
        siteMonitor: https://plex.[[ host.data.domain ]]
        widget:
          type: plex
          url: https://plex.[[ host.data.domain ]]
          key: [[ plex_api_token ]]
        weight: 100
    - Sonarr:
        href: https://tv.[[ host.data.domain ]]
        icon: sonarr
        siteMonitor: https://tv.[[ host.data.domain ]]
        widget:
          type: sonarr
          url: https://tv.[[ host.data.domain ]]
          key: [[ sonarr_api_token ]]
        weight: 200
    - Radarr:
        href: https://movies.[[ host.data.domain ]]
        icon: radarr
        siteMonitor: https://movies.[[ host.data.domain ]]
        widget:
          type: radarr
          url: https://movies.[[ host.data.domain ]]
          key: [[ radarr_api_token ]]
        weight: 300
    - Prowlarr:
        href: https://indexers.[[ host.data.domain ]]
        icon: prowlarr
        widget:
          type: prowlarr
          url: https://indexers.[[ host.data.domain ]]
          key: [[ prowlarr_api_token ]]
        weight: 400
- Office:
    - Synology Drive:
        href: https://drive.[[ host.data.domain ]]
        icon: synology-drive
        weight: 100
- Media:
    - Synology Photos:
        href: https://photos.[[ host.data.domain ]]
        icon: synology-photos
        weight: 100
- Admin:
    - Synology Diskstation:
        href: https://nas.[[ host.data.domain ]]
        icon: synology-dsm
        siteMonitor: https://nas.[[ host.data.domain ]]
        # diskstation widget: DSM login API via the caddy-proxied host (DSM does
        # its own auth, so nas.dv.zone isn't behind Authelia forward-auth). Uses
        # a dedicated DSM admin user with 2FA disabled (the widget can't do 2FA).
        widget:
          type: diskstation
          url: https://nas.[[ host.data.domain ]]
          username: [[ synology_widget_username ]]
          password: [[ synology_widget_password ]]
        weight: 100
    - Proxmox VE:
        href: https://pve.[[ host.data.domain ]]:8006
        icon: proxmox
        siteMonitor: https://pve.[[ host.data.domain ]]:8006
        # Valid TLS on the FQDN. Auth is the read-only homepage@pve token
        # (PVEAuditor): the widget takes the token id as username, secret as
        # password.
        widget:
          type: proxmox
          url: https://pve.[[ host.data.domain ]]:8006
          username: [[ proxmox_widget_token_id ]]
          password: [[ proxmox_widget_secret ]]
        weight: 200
    - Proxmox Backup Server:
        href: https://pbs.[[ host.data.domain ]]:8007
        icon: proxmox-backup-server
        siteMonitor: https://pbs.[[ host.data.domain ]]:8007
        # Read-only homepage@pbs token (Audit role on / for both user and token).
        widget:
          type: proxmoxbackupserver
          url: https://pbs.[[ host.data.domain ]]:8007
          username: [[ pbs_widget_token_id ]]
          password: [[ pbs_widget_secret ]]
        weight: 300
    - Unifi Controller:
        href: https://unifi.[[ host.data.domain ]]
        icon: unifi
        widget:
          type: unifi
          url: https://unifi.[[ host.data.domain ]]
          username: [[ unifi_controller_homepage_username ]]
          password: [[ unifi_controller_homepage_password ]]
        weight: 400
