title: "🏠 DV Home"
description: "Home is where the ❤️ is"
useEqualHeights: true
statusStyle: "dot"
layout:
  Entertainment:
    style: row
    columns: 4
  Office:
  Media:
  Bookmarks:
  Downloaders:
  Development:
  Automation:
  Admin:
  Databases:
