[%- macro service_volumes(app) %]
[%- for v in app.volumes %]
[%-   if v.kind == 'bind' %]
      - [% if v.is_managed %][[ host.data.docker_volumes_base ]]/[% endif %][[ v.source ]]:[[ v.mount_path ]][% if v.read_only %]:ro[% endif %]
[%-   else %]
      - [[ v.name ]]:[[ v.mount_path ]][% if v.read_only %]:ro[% endif %]
[%-   endif %]
[%- endfor %]
[%- endmacro %]
[%- macro top_level_volumes(app) %]
[%- set named = app.volumes | selectattr('kind', 'equalto', 'named') | list %]
[%- if named %]
volumes:
[%-   for v in named %]
  [[ v.name ]]:[% if v.external %]
    external: true
[%-   endif %]
[%-   endfor %]
[%- endif %]
[% endmacro %]
