[%- macro service_volumes(app) %]
[%- for v in app.volumes %]
[%-   if v.kind == 'bind' %]
      - [% if v.is_managed %][[ host.data.docker_volumes_base ]]/[% endif %][[ v.source ]]:[[ v.mount_path ]][% if v.read_only %]:ro[% endif %]
[%-   else %]
      - [[ v.name ]]:[[ v.mount_path ]][% if v.read_only %]:ro[% endif %]
[%-   endif %]
[%- endfor %]
[%- endmacro %]
[%- macro top_level_volumes(app) %]
[%- set vols = app.volumes or [] %]
[%- set named = vols | selectattr('kind', 'equalto', 'named') | list %]
[%- set nfs = vols | selectattr('kind', 'equalto', 'nfs') | list %]
[%- if named or nfs %]
volumes:
[%-   for v in named %]
  [[ v.name ]]:[% if v.external %]
    external: true
[%-   endif %]
[%-   endfor %]
[%-   for v in nfs %]
  [[ v.name ]]:[% if v.external %]
    external: true
[%-   else %]
    driver: local
    driver_opts:
      type: nfs
      o: "addr=[[ v.server ]],[[ v.options ]]"
      device: ":[[ v.path ]]"
[%-   endif %]
[%-   endfor %]
[%- endif %]
[% endmacro %]
