services:
  loki:
    image: [[ app.image ]]:[[ app.version ]]
    container_name: loki
    command: -config.file=/etc/loki/loki-config.yaml
    environment:
      TZ: Europe/Amsterdam
    networks:
      monitoring:
        ipv4_address: "172.105.0.100"
    volumes:
      - /volume2/docker/loki/data:/loki/chunks
      - /volume2/docker/loki/rules:/loki/rules
      - /volume2/docker/loki/config/loki-config.yaml:/etc/loki/loki-config.yaml
    restart: unless-stopped

networks:
  monitoring:
    external: true
